.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.nav{
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 20%;
  background-image: url('./Assets/pneon.jpg');
  top: 0;
  left: 0;
  color: antiquewhite;
  display: flex;
}

.logo{
  width: 35%;
  padding: 2%;
}

.nav-links {
  margin-top: 23%;
  margin-left: 49%;
}
.nav-links a {
  color: white; 
  margin: 0 15px; 
  text-decoration: none;
   
}
.nav-links a:hover, button:hover {
  opacity: 0.8;
}
button {
  background-color: #4CAF50; 
  color: white; 
  padding: 10px 20px; 
  border: none;
  cursor: pointer;
}
.btn{
 margin-top: -16%;
 margin-left: 165%;
 
}
body{
  
  margin-top: 160px;
  
}
