.donor{
    display: flex;
    flex-wrap: wrap;
    
}*{
  margin: 3px;
  /* background-color: cyan; */
}
.donori{
  width: 390px;
  height: 390px;
  padding: 10px;
  margin: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 1em;
  
}
.cimg{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width:99%;
    height: 60%;
    border-radius: 1em;
    overflow: hidden;

}
.cimg img{
    max-width: 99%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 1em;
}
.cbody{
  display: flex;
}
.charityi{
  width: 390px;
  height: 390px;
  padding: 10px;
  margin: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 1em;
}
.charitym{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  text-align: center;
  
    
}*{
  margin: 3px;
  /* background-color: cyan; */
}
.formc {
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 1em;
  left: 69%;
  display: flex;
  flex-direction: column;
  width: 190%;
  height: 10%;
  
}

input,
textarea {
  padding: 8px;
  margin-bottom: 16px;
  width: calc(100% - 16px); 
}

label {
  margin-bottom: 8px;
}
h2 ,h3 {
  text-align: center;
}
.main2{
  margin-bottom: 5%;
  display: flex;

}
.page2{
  
  width: 60%;
  border-radius: 1em;
  margin-right: 4%;
  margin-left: 2%;
  
}
.imgd{
  margin: auto;
  display: block;
  border-radius: 1em;
}

.text2{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 90%;
  margin: 5%;
  display: block;
  border-radius: 1%;
  min-height: 20%;
  flex: 1;
  margin-bottom: 5%;

}
.collapsible-section {
  width: 90%;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 3%;
  
  

}

.collapsible-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.collapsible-content {
  padding: 10px;
}
.donate2{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 30%;
  border-radius: 2%;
  left: 69%;
  flex: 1;
  
  
  
}