.aboutus-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  

  h3 {
    color: #3498db;
  }
  

  .header {
    position: relative;
    text-align: justify;
  }
  
  
  .header img {
    height: auto;
    border-radius: 8px; 
    padding: 15px;
  }

  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .p-container.highlighted {
    background-color: gray;
    padding: 15px;
    border-radius: 8px;
  }
  