.container {
    padding: 50px;
    display: flex;
}

.container-1 {
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    float: left;
}
.div2{
    display: flex;
    margin-top: -30%;
    margin-left: 22%;
    height: 80%;
}
.navv{
    background-image: url('../Assets/lneon.jpg');
    width: 20%;
    height: 100vh;
    margin-top: -5.7%;
    border-radius: 10px;
}

.mission, .vission {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 70px;
    height: 200px;
    width: 60%;
    float: left;
    border-radius: 10px;
    margin-top: -15%;
}
p {
    font-size: 13px;
    text-align: justify;
    line-height: 1.6;
}

.img {
    width: 95%;
    height: 55vh;
    border-radius: 10px;
    margin: 50px;
    
}
.drop1 , .drop2{
    width: 20%;
    margin-top: -7%;

}
.horizontal-line{
    margin-bottom: -20px;
    margin: 0%;
}
.leader_logo img{
    width: 5%;
    padding: 2%;
    margin: 50px;
}
h3{
    padding: 100px;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
@media (max-width: 768px) {
    .div2 {
        margin-top: -10%;
        
    }

    .navv {
        height:100vh;
    }

    .mission, .vission {
        width: 100%;
        margin-top: -120%;
    }
    .mission img {
        margin-bottom: 20px;
    }
    .vission img{
        margin-bottom: 20px;
    }

    .img {
        width: 100%;
        margin: 20px 0;
    }

    .drop1, .drop2 {
        width: 50%;
        margin-top: -50%;
        
    }
   
    .leader_logo img {
        width: 5%;
        margin: 20px;
    }

    h3 {
        padding: 1px;
        font-size: 17px;
        margin-top: -50%;
    }
    .img img {
        width: 90%;
        height: 60%;
        margin-top: -30%;
        margin-left: 70px;
        
    }
    .vtext {
        font-size: 8px;
    }
    h2 {
        font-size: 16px;
    }
}
